/*
reset
*/
p { text-indent: 0; }
.navbar { margin-bottom: 0px; }
.footer { padding: 1em; margin-bottom: -40px; position: relative; z-index: 999;}


/*
navbar
*/
.social-icons > li { position: relative;
    display: inline-block;
}
.social-icons > li > a {
    padding: 0px 5px;
}
.navbar-brand-centered {
    padding: 0px;
}
.navbar-right {
    margin-top: 12px;
}
.navbar-brand img { margin-top: 3px; }

@media screen and (max-width:450px){
    .navbar>.container .navbar-brand-centered img {
        padding-top: 10px; 
        max-width: 180px;
        height: auto;
    }
    .navbar-right {
        margin-left: 5px;
    }
}


/*
parallax
*/
.parallax [class*="bg-"] {
    position: relative;
    background-attachment: fixed;
    background-position: top center;
    background-size: 100% 100%;
    padding: 5% 3% 3% 3%;
}
.parallax .bg-blackwight {
    background-image: url('../img/3.jpg');
    min-height: 99vh;
}
.parallax .bg-color {
    background-image: url('../img/4.jpg');
    min-height: 80vh;
    padding-top: 10%;
}
.parallax .home-header {
    font: 1.8em bold;
    padding: 1em;
    box-shadow: 0 0 2px #333;
        -webkit-box-shadow: 0 0 2px #333;
        -moz-box-shadow: 0 0 2px #333;
        -o-box-shadow: 0 0 2px #333;
}
.parallax .color-capture {
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 0.125em #333; 
        -webkit-box-shadow: 0 1px 0.125em #333; 
        -moz-box-shadow: 0 1px 0.125em #333; 
        -o-box-shadow: 0 1px 0.125em #333; 
}



/*
content
*/
.header-title {
    font-size: 1.8em;
    font-weight: 700;
}
.home-header p {
    margin-left: 25px;
}
.home-test {
    background: url("../img/4.jpg") #fff;
    margin: 0.5em; 
}
#test-section .panel {
    margin: 1em;
}
.test-p {
    margin-top: 30px;
}
.fast-test div {
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
    min-height: 50px;
}
ul.dropdown-menu li {
    cursor: pointer;
}

/*
Responsive
*/
@media screen and (max-width:768px){
    .parallax .home-header {
        font: 1.4em bold;
    }
}


/* FontAwesome */
@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.4.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-lg{font-size:1.33333333em;line-height:0.75em;vertical-align:-15%;}
.fa-2x{font-size:2em;}
.fa-fw{width:1.28571429em;text-align:center;}
.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none;}
.fa-ul > li{position:relative;}
.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:0.14285714em;text-align:center;}
.fa-li.fa-lg{left:-1.85714286em;}
.fa-heart:before{content:"\f004";}
.fa-github:before{content:"\f09b";}
.fa-facebook-square:before{content:"\f082";}
.fa-twitter-square:before{content:"\f081";}
.fa-rss-square:before{content:"\f143";}